@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Georgia", "Futura", Helvetica, Arial, sans-serif;
  padding: 4rem;
}

.app-container {
  width: 80%;
  margin: 0 auto;
}

.heading {
  color: #707070;
}
